@font-face {
  src: url("../../fonts/Roboto-Regular.ttf");
  font-family: "Roboto Regular";
}
@font-face {
  src: url("../../fonts/Roboto-Medium.ttf");
  font-style: normal;
  font-family: "Roboto Medium";
}

.menu__frame {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 35px 40px 110px 40px;
}
.menu__frame-link {
  color: black;
  padding: 0px 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18.8px;
  font-family: "Roboto Regular";
}
.menu__frame-link:hover {
  color: #828282;
}
.menu__frame-site {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
  margin-top: -4px;
  font-size: 24px;
  line-height: 29px;
}
.menu__frame-site:hover {
  color: #828282;
}
.menu__frame-person {
  cursor: pointer;
  margin-top: -29px;
  margin-left: -12px;
  padding: 12px 30px;
}
.menu__frame-button:hover {
  background: #F7F9FB;
}

.mobile__burger {
  cursor: pointer;
}
.mobile__burger-item {
  background: #1B1B1B;
  width: 18px;
  height: 2px;
}
.mobile__burger-item + div {
  margin-top: 3px;
}