/*variables */

$black: #1B1B1B;;
$grey: #828282;
$lightgrey: #F7F9FB;
$blackgrey: #4F4F4F;
$white: #FFFFFF;
$purple: #3F3D56;

/* mixsins */

@mixin breakpoint($point){
  @if $point == large {
    @media screen and (min-width: 1200px){
      @content;
    }
  }
  @else if $point == medium {
    @media screen and (max-width: 1199px){
      @content;
    }
  }
  @else if $point == small {
    @media screen and (max-width: 767px){
      @content;
    }
  }
}

/* generic */

.is-animated {
  transition: all 400ms ease;
}

.question__frame,.asked_questions__frame{
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .question__frame {
    width: 944px;
  }
}
@media screen and (max-width: 1199px) {
  .question__frame {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .is-desktop {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .is-mobile {
    display: none !important;
  }
}





.content__container{

  @media screen and (max-width: 1199px) {
    img{
      width: calc(100% - 40px);
      margin: 0 auto;
    }
  }

}
.question__frame-text{
  width: 632px;
  margin: 0 auto;
  font-size: 24px;
  line-height:35.35px;
}
@media screen and (max-width: 1199px) {
  .question__frame-text{

    width: calc(100% - 60px);
    margin: 0 auto;
    font-size: 16px;
    line-height:23px;
    p{
      margin-top: 10px;
    }
  }
}

.asked_questions__frame{

  margin: 30px 207px 120px 207px;
  @include breakpoint (medium) {
    margin: 0 auto;
  }
  .team__frame-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint (medium) {
      justify-content: center;
      padding-bottom: 0px;

    }

    &-item{

      margin: 15px 0;
      cursor:pointer;
      font-size: 20px;
      line-height: 29px;
      @include breakpoint (medium) {
        width: calc(100% - 20px);

        font-size: 14px;
        line-height: 21px;
      }

      button{
        font-size: 20px;
        line-height: 29px;
        border: 1px none;
        justify-content: space-between ;
        border-radius: 6px;
        background: #F7F7F8;
        width: 1026px;
        height: 66px;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 28px 0 20px;
        @include breakpoint (medium) {
          height: 50px;
          line-height:23px;
          width: calc(100% - 20px);
        }
        &:hover {
          background: rgba(97, 161, 153, 0.10);
        }
      }

      &-answer{
        align-items: stretch;
        margin: -15px 0px;
        cursor:pointer;
        font-size: 20px;
        line-height: 29px;
        width: 784px;
        box-align: start;
        padding-right: 190px;
        text-align: left;


        @include breakpoint (medium) {
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          padding: 0 20px;
          margin: 0px 20px;
        }
      }
    }
  }
}

.team__frame-wrapper-item{
  &.is-active {
    button{
      background: rgba(97, 161, 153, 0.15);
      color: #61A199;
    }
  }
}

.mobile__burger{
  cursor: pointer;


  &-item {
    background: $black;
    width: 18px;
    height: 2px;

    + div {
      margin-top: 3px;
    }

  }
}