.main-description__container {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-block {
    display: flex;

    padding-bottom: 160px;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    &:nth-child(2) {
      flex-direction: row-reverse;

    }

    img {
      padding-right: 78px;
    }
    img:nth-child(2) {
      padding-left: 78px;

    }
    &-text {
      max-width: 450px;

      span {

        display: block;
        font-size: 20px;

      }
    }
  }


}